body{
	background-color: rgb(226,226,226);
	margin: 0;
	padding: 0;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

.jSlots-wrapper {
	overflow: hidden;
	height: 100px;
	display: inline-block;
	border: 5px solid #3D3D3F;
	margin-top: 160px;
	margin-right: 67px;	
}

.divisions{
	float: left;
}

.jSlots-wrapper .divisions{
	border-right: 5px solid #3D3D3F;
	width: 100px;
}

.jSlots-wrapper .divisions:last-child{
	border-right: none;
	width: 100px;
}
.content{
	background: url('../images/machine.png') no-repeat 50% 0px;
	height: 580px;
	text-align: center;
}

#play{
   background-color: white;
    color: #EE4E73;
    border: 2px solid #EE4E73;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-top: 150px;
	margin-right: 50px;
}

#play:hover{
	background-color: #EE4E73;
    color: white;
    cursor: pointer;
}

#redeem_button{
   	background-color: white;
    color: #EE4E73;
    border: 2px solid #EE4E73;
    padding: 3px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-top: 20px;
}

#redeem_button:hover{
	background-color: #EE4E73;
    color: white;
    cursor: pointer;
}

.redeem_container{
	margin-top:20px;
	height:300px;
	background-color:#939393;
	padding:0;
}

.redeem_box{
	height:200px;
	width:200px;
	background-color:EE4E73;
	float:left;
	margin:20px;
}

.update_header{
	text-align: center;
	font-size: 21px;
	font-family: "Helvetica Neue",Roboto,"Droid Sans","Segoe UI",Helvetica,Arial,sans-serif;
	letter-spacing: .25px;
	color: rgba(0,0,0,.95);
	font-weight: 700;
	line-height: 1.2;
}